<h2><%= '@'+@user.username %></h2>
<% unless @user.name.empty? %>
<div class="name"><%= @user.name %></div>
<% end %>

<% if @user == current_user %>
<%= link_to 'Edit profile', edit_registration_path(current_user) %>
<% end %>

<dl>
  <% if (defined? @user.web) &&!@user.web.empty? %>
  <dt>Website:</dt>
  <dd><%= link_to @user.web, url_with_protocol(@user.web), :target => '_blank' %></dd>
  <% end %>
  <% if (defined? @user.itch) && !@user.itch.empty? %>
  <dt>Itch.io:</dt>
  <dd><%= link_to @user.itch + ' on Itch.', 'https://'+@user.itch+'.itch.io/', :target => '_blank' %></dd>
  <% end %>
  <% if (defined? @user.twitter) && !@user.twitter.empty? %>
  <dt>Twitter:</dt>
  <dd><%= link_to '@'+@user.twitter, 'https://twitter.com/'+@user.twitter, :target => '_blank' %></dd>
  <% end %>
</dl>


  <% if (defined? @user.support) && !@user.support.empty? %>

<div class="right">
  <div class="supportLink">
    <%= link_to 'Like this user’s work? Support them here.',
	url_with_protocol(@user.support), :target => '_blank' %></div>
  <% end %>
  <div class="highlight">
  <% if @user.lists.any? %>
  <h3>Lists</h3>
  <ul>
    <% @user.lists.each do |l| %>
    <li><%= link_to l.name, l %></li>
    <% end %>
  </ul>
  <% end %>
  </div>
</div>

<div class="left">
<% if @tables.any? %>
<%= will_paginate @tables %>
<section id="tables">
  <%= render @tables %>
</section>
<%= will_paginate @tables %>
<% else %>
<p>This user hasn’t created any tables yet!</p>
<% end %>
</div>
