
<div class="right">
  <%= link_to 'New table', new_table_path, class: 'button' %>
  <%= link_to 'New list', new_list_path, class: 'button' %>
  <%= link_to 'Like Tabled? Support us!', 'https://ko-fi.com/tsvallender',
      class: 'button support', :target => '_blank' %>

  <section id="drafts">
  <h3>Drafts</h3>
  <% if current_user.tables.where(:draft => true).count > 0 %>
  <ul>
    <% current_user.tables.where(:draft => true).each do |t| %>
    <li><%= link_to t.title, t %></li>
    <% end %>
  </ul>
  <% else %>
  <p>You don’t have any drafts.</p>
  <% end %>
  </section>
</div>

<div class="left">
  <%= render 'tables/search' %>
  <section id="activities">
  <h2>Latest tables:</h2>
  <% if @activities.any? %>
  <%= will_paginate @activities%>
    <% @activities.each do |a| %>
      <div class="activity">
      <% if a.trackable %> 
        <%= link_to a.owner.username, a.owner if a.owner %>
        <%= render_activity a %>
      <% end %>
      </div>  
    <% end %>
  <%= will_paginate @activities %>
  <% end %>
  </section>
</div>

