<%= form_with(model: @table, id: 'tableForm') do |f| %>

<%= render 'shared/error_messages', object: f.object %>

<script>
  window.onload = function() {

      document.getElementById('table_die_id').addEventListener('change', function(e) {
	  let dice = JSON.parse('<%= raw(Die.all.to_json) %>');
	  let die = dice[e.target.value - 1];
	  let table = document.getElementById('formTable');
	  let currentRows = table.rows.length;

	  if (currentRows > die.numbers.length) {
	      //are you sure?
	  }
	  
	  die.numbers.forEach(function(value, index, array) {
	      if ((index+1) >= currentRows) {
		  let row = table.insertRow(-1);
		  row.innerHTML = `<tr><td><input type="number" value=${index+1} name="table[rows_attributes][${index+1}][num]" id="table[rows_attributes][${index+1}][num]"></td>
                                   <td><input type="text" value="" name="table[rows_attributes][${index+1}][name]" id="table_rows_attributes_${index+1}_name" /></td>
                                   <td><input type="text" value="" name="table[rows_attributes][${index+1}][description]" id="table_rows_attributes_${index+1}_description" /></td></tr>`;
	      }
	  });
      });
  }

  function addRow() {

  }
</script>

<%= f.collection_select :die_id, Die.all, :id, :name %>
<%= f.text_field :title, placeholder: "Table title", class: "titleField" %>
<%= f.text_area :description, placeholder: "Table description", class: "descriptionInput" %>

<table id="formTable">
  <thead>
  <tr>
    <th class="numCol">No.</th>
    <th class="nameCol">Name</th>
    <th class="descriptionCol">Description</th>
  </tr>
  </thead>
  <tbody>
    <%= f.fields_for :rows, @table.rows.order('num') do |row_f| %>
    <tr>
      <td><%= row_f.number_field :num %></td>
      <td><%= row_f.text_field :name %></td>
      <td><%= row_f.text_field :description %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="tableOptions">
  <%= f.label :draft, class: 'formoptions' %>
  <%= f.check_box :draft, class: 'formoptions' %>
  <%= f.label :private, class: 'formoptions' %>
  <%= f.check_box :private, class: 'formoptions' %>
</div>
<%= f.submit yield(:button_text) %>

<% end %>
