<%= form_with(model: @table, id: 'tableForm') do |f| %>

<%= render 'shared/error_messages', object: f.object %>

<script>
  window.onload = function() {
      let rowNo = <%= @table.rows.count %>;
      document.addEventListener('vanilla-nested:fields-added', function(e) {
	  rowNo++;
	  t = e.detail.added.getElementsByClassName('rowNo');
	  console.dir(t[0]);
	  t[0].value = rowNo;
      })

      if (<%= @table.rows.count %> == 0) {
	  addRows(4);
      }
  }

  async function addRows(n) {
      let button = document.getElementsByClassName('addrow')[0];
      let e = document.createEvent('MouseEvents');
      e.initEvent('click', true, true);

      for (let i = 0; i < n; i++) {
	  await new Promise(r => setTimeout(r, 1));
	  button.dispatchEvent(e);
      }
  }
</script>

<%= f.collection_select :die, Die.all, :id, :name %>
<%= f.text_field :title, placeholder: "Table title", class: "titleField" %>
<%= f.text_area :description, placeholder: "Table description", class: "descriptionInput" %>

<table id="formTable">
  <thead>
  <tr>
    <th class="numCol">No.</th>
    <th class="nameCol">Name</th>
    <th class="descriptionCol">Description</th>
    <th class="removeCol"></th>
  </tr>
  </thead>
  <%= f.fields_for :rows, @table.rows.order('num') do |row_f| %>
    <%= render 'row_fields', form: row_f %>
  <% end %>
</table>

<%= link_to_add_nested(f, :rows, '#formTable', link_classes: 'button addrow') %>

<div class="tableOptions">
  <%= f.label :draft, class: 'formoptions' %>
  <%= f.check_box :draft, class: 'formoptions' %>
  <%= f.label :private, class: 'formoptions' %>
  <%= f.check_box :private, class: 'formoptions' %>
</div>
<%= f.submit yield(:button_text) %>

<% end %>
