<%= form_with(model: @table) do |f| %>

<%= render 'shared/error_messages', object: f.object %>

<script>
  let rowNo = <%= @table.rows.count %>;
  document.addEventListener('vanilla-nested:fields-added', function(e) {
      rowNo++;
      t = e.detail.added.getElementsByClassName('rowNo');
      console.dir(t[0]);
      t[0].value = rowNo;
  })
</script>

<h3><%= f.text_field :title, placeholder: "Table title", class: "titleField" %></h3>

<%= link_to_add_nested(f, :rows, '#tableForm') %>

<table id="tableForm">
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <%= f.fields_for :rows do |row_f| %>
  <%= render 'row_fields', form: row_f %>
  <% end %>
</table>


<%= f.submit yield(:button_text) %>

<% end %>
