<div class="table">
<h3><%= link_to table.title, table, class: 'nodec' %>
  <span class="name">by
    <%= link_to table.user do %>
    <% if table.user.avatar.attached? %>
    <%= image_tag table.user.avatar.variant(resize: "40 x 40"), class: "avatar" %>
    <% else %>
    <%= image_tag 'avatar.png', width: "40px", height: "40px", class: "avatar" %>    
    <% end %>
    <%= table.user.username %>
    <% end %>
</span></h3>

<% if (defined? table.title) && !table.title.empty? %>
<div class="tableDescription"><%= table.description %></div>
<% end %>

<%= link_to table, class: 'nodec' do %>
<table id="table-<%= table.id %>" class="fade">
  <tr>
    <th>No.</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% table.rows.order('num').take(4).each do |r| %>
  <tr>
    <td><%= r.num %></td>
    <td><%= r.name %></td>
    <td><%= r.description %></td>
  </tr>
  <% end %>
</table>
<% end %>
</div>
