<h3><%= link_to table.title, table %> by <%= link_to table.user.username, table.user %></h3>

<table id="table-<%= table.id %>">
  <tr>
    <th>No.</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% table.rows.each do |r| %>
  <tr>
    <td><%= r.num %></td>
    <td><%= r.name %></td>
    <td><%= r.description %></td>
  </tr>
  <% end %>
</table>
