<h2><%= @table.title %></h2>
<% if (defined? @table.description) && @table.description.present? %>
<div class="tableDescription"><%= @table.description %>

<% if @table.user == current_user %>
<%= link_to 'Edit table', edit_table_path(@table), class: "editLink" %>
<% end %>
</div>
<% end %>

<table id="table-<%= @table.id %>">
  <tr>
    <th>No.</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @table.rows.order('num').each do |r| %>
  <tr>
    <td><%= r.num %></td>
    <td><%= r.name %></td>
    <td><%= r.description %></td>
  </tr>
  <% end %>
</table>

<%= form_with(model: @listmember) do |f| %>
<%= f.hidden_field :table_id, value: @table.id %>
<%= f.select :list_id, current_user.lists.collect { |l| [ l.name, l.id ] }, { include_blank: true } %>
<%= f.submit "Add table to list" %>
<% end %>
