<% if @table.draft %>
<p class="notice">This table is currently a draft.</p>
<% end %>
<% if @table.private %>
<p class="notice">This table is private</p>
<% end %>

<h2><%= @table.title %></h2>
<% if (defined? @table.description) && @table.description.present? %>
<div class="tableDescription"><%= @table.description %></div>
<% end %>

<div class= "highlight right">
<% if @table.user == current_user %>
<%= link_to 'Edit table', edit_table_path(@table), class: "editLink" %>
<% end %>

<%= link_to 'Share on Twitter',
    'https://twitter.com/intent/tweet?url='+table_url(@table)+
    '&text=Check+out+this+great+table+on+Tabled+by+'+@table.user.username+'!'+
    '&hashtags=ttrpg,tabled', class: 'editLink' %>

<%= form_with(model: @listmember, class: 'listmember') do |f| %>
  <%= f.hidden_field :table_id, value: @table.id %>
  <%= f.select :list_id, current_user.lists.collect { |l| [ l.name, l.id ] }, { include_blank: true } %>
  <%= f.submit "Add table to list" %>
<% end %>
</div>
<div class="left">
<table id="table-<%= @table.id %>">
  <tr>
    <th>No.</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @table.rows.order('num').each do |r| %>
  <tr>
    <td><%= r.num %></td>
    <td><%= r.name %></td>
    <td><%= r.description %></td>
  </tr>
  <% end %>
</table>

</div>
