<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= render 'application/favicon' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="siteHeader">
      <h1><%= link_to root_path do %>Roll d<span class="math">x</span><% end %></h1>
      <% unless @nomenu %>
      <nav>
	<ul>
	  <li>
	    <%= link_to('Tables', tables_path) %>
	  </li>
	  <% if user_signed_in? %>
	  <li>
	    <%= link_to('Profile', current_user) %>
	  </li>
	  <li>
	    <%= link_to('Sign out', destroy_user_session_path, method: :delete, data: { turbo: false }) %>
	  </li>
	  <% else %>
	  <li>
	    <%= link_to('Sign up', new_user_registration_path) %>
	  </li>
	  <li>
	    <%= link_to('Sign in', user_session_path) %>
	  </li>
	  <% end %>
	</ul>
      </nav>
      <% end %>
    </header>
    <% if (defined? notice) && !notice.nil? %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if (defined? alert) && !alert.nil? %>
    <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
